.subtitle
{
    margin-top: 5px;
    font-size: 22px;
}

#title{
    color: aliceblue;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 40px;
}

#olaf{
    width: 55%;
    float: right;
    margin-bottom: 10px;
}

#familypic{
    width: 55%;
    float: right;
    margin-bottom: 10px;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

input[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    text-align: center;
  }